<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
</head>
<body>
  <h1>Movies</h1>
  <ul>
    <% movies.forEach(movie => { %>
      <li><a href="/movies/<%= movie._id %>"><%= movie.title %></a></li>
    <% }) %>
  </ul>
</body>
</html>
